<!DOCTYPE html>
<html html="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier le scaphandre</title>
</head>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link th:href="@{/style/style.css}" rel="stylesheet">
<link th:href="@{/style/updateComment.css}" rel="stylesheet">
<link th:href="@{/font/ProductSansRegular.ttf}">

<body>
<nav class="navbar">
    <div class="navbar-brand">
        <img th:src="@{/images/logo-space.png}" alt="logo far away" width="60" height="50"/>
    </div>
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/home}">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/basket}">Panier</a>
            </li>
        </ul>

    </div>
</nav>
<main id="main-update-comment">
    <div id="update-comment" class="container p-5">
        <h2>Modifier ce commentaire: </h2>
        <form id="add-comment" method="POST"
              th:action="@{/update/comment/{productId}/{commentId}(productId = ${comment.getIdProduct()}, commentId=${comment.getId()})}" th:object="${comment}">
            <input type="text" name="updated-comment" th:value="${comment.getText()}" th:field="*{text}" required><br>
            <input type="submit" class="btn btn-secondary mt-2" value="Modifier">
        </form>
    </div>
</main>
<footer class="pt-5">
    <div class="row align-items-center">
        <div class="col-12 d-flex justify-content-center mb-5">
            <img th:src="@{/images/logo-space.png}" alt="logo far away" width="60" height="50" />
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>