#darkZone {
    background-color: #000116;
}

nav {
    font-size: 1.2em;
    background-color: #000116;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 2;
}

#presentation {
    padding : 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#seemore-div {
    position: absolute;
    bottom: 0;
    right: 48%;
}

#title {
    font-size: 600%;
}

.vl {
    border-left: 3px solid white;
    height: 150px;
    margin-left: 50%;
}

.typeSuit {
    text-decoration: underline;
    margin-bottom: 4%;
}

.list-space {
    padding: 0px 100px 100px 100px;
}

.list-water {
    padding: 0px 100px 100px 100px;
    margin-top: 7%;
}

.flexDisposition{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexDisposition div{
    width: 17%;
}

.biggerFont{
    font-size: 1em;
}

#astronauteDauphin{
    z-index: 1;
    width: 150px;
    position: absolute;
    left: 80%;
    bottom: -87%;
    transform: scaleX(-1);
}

#astronauteVolant{
    z-index: 1;
    width: 150px;
    rotate: -15deg;
    position: absolute;
    right: 5%;
    bottom: -25%;
}

#formsDisplay{
    width: 70%;
}

#maxValue, #minValue{
    font-size: 110%;
}

#title-underline {
    border: 1px white solid;
    width: 10%;
}

#add-button-li {
    display: flex;
    align-items: center;
}

#add-button {
    font-size: 0.75em;
}

.input-order-price{
    width: 15%;
    padding-left: 10px;
}

#sortButton {
    height: fit-content;
}

#ancre {
    padding-top: 40px;
}

#back-separation{
    rotate : 180deg;
    margin: -5px 0;
}