<!DOCTYPE html>
<html lang="en">
<html  html="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Panier</title>

</head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link th:href="@{styles/style.css}" rel="stylesheet">
<link th:href="@{styles/basket.css}" rel="stylesheet">
<link th:href="@{font/ProductSansRegular.ttf}">
<body>
<nav class="navbar">
    <div class="navbar-brand">
        <img th:src="@{images/logo-space.png}" alt="logo far away" width="60" height="50"/>
    </div>
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Accueil</a> <!--TODO call front home (ajouter tf)-->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Produits</a> <!--TODO call front products (ajouter tf)-->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Profil</a> <!--TODO call front profil (ajouter tf)-->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Panier</a> <!--TODO call front basket (ajouter tf)-->
            </li>
        </ul>

    </div>
</nav>

<div class="container" id="basket">
    <h3 class="d-flex text-left" id="titre">VOTRE PANIER</h3>

    <div id="products">
        <div th:each="basket: ${baskets}" class="product">
            <div class="text-product">
                <u>
                    <b>
                        <p th:text="${basket.getProduct().getName()}">product name</p>
                    </b>
                </u>
                <p th:text="${basket.getProduct().getShortDescription()}">product description</p>
                <b>
                    <p th:text="${basket.getProduct().getPrice() + ' €'}">product price</p>
                </b>
            </div>
            <div class="button-product flex-fill">
                <form method="POST" th:action="@{delete/baskets/{idProduct}/{idUser}(idProduct=${basket.getIdProduct()}, idUser=${idUser})}">
                    <button class="btn-primary" type="submit" >Supprimer</button>
                </form>
                <br>
                    <input id="newQuantity" th:value="${basket.getQuantity()}" >
                    <input type="hidden" id="idProduct"  th:value="${basket.getIdProduct()}">
                    <input type="hidden" id="idUser"  th:value="${idUser}">
            </div>

        </div>

        <div class="prix">
            <p th:text="${'Sous-total (' + numberProduct + ' produit(s)) : ' + sumPrice + ' €'}"/>
        </div>
        <div class="prix-button">
            <form method="POST" th:action="@{pay/baskets/{idUser}(idUser=${idUser})}">
                <button class="btn-primary" type="submit">Passer la commande</button>
            </form>
        </div>

    </div>
</div>

<footer class="pt-5 footer">
    <div class="row align-items-center">
        <div class="col-12 d-flex justify-content-center mb-5">
            <img th:src="@{images/logo-space.png}" alt="logo far away" width="60" height="50"/>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script th:src="@{JavaScript/ChangeQuantity.js}"></script>
</body>
</html>