<!DOCTYPE html>
<html lang="en">
<html  html="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pay</title>
</head>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link th:href="@{/styles/style.css}" rel="stylesheet">
<link th:href="@{/styles/basket.css}" rel="stylesheet">
<link th:href="@{/font/ProductSansRegular.ttf}">

<body>
<div id="text-pay">
    <p th:text="'Merci de votre commande vos articles seront livrés a cette adresse : ' + ${user.getAddress()}">adresse client </p>
    <a th:href="@{/home}"><button class="btn-primary">Retourner à la page d'accueil</button></a>
</div>


<footer class="pt-5 footer">
    <div class="row align-items-center">
        <div class="col-12 d-flex justify-content-center mb-5">
            <img th:src="@{/images/logo-space.png}" alt="logo far away" width="60" height="50"/>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>