<!DOCTYPE html>
<html html="" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Modifier le scaphandre</title>
</head>

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous">
<link th:href="@{../style.css}" rel="stylesheet">
<link th:href="@{../home.css}" rel="stylesheet">
<link th:href="@{../font/ProductSansRegular.ttf}">

<body>
<nav class="navbar">
    <div class="navbar-brand">
        <img th:src="@{../image/logo-space.png}" alt="logo far away" width="60" height="50"/>
    </div>
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Accueil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Produits</a> <!--TODO call front products (ajouter tf)-->
            </li>
        </ul>
    </div>
</nav>
<div id="addBorder">
    <div>
        <p class="addSuitTitle"> Modifier ce scaphandre: </p>

        <form id="addingForm" method="post" th:action="@{/update/{id}(id=${suit.getId()})}" th:object="${suit}">
            <p><input class ="inputAdd" type="text" style="" th:value="${suit.getName()}" th:field="*{name}"></p>
            <p><input class ="inputAdd" type="number" step="0.01" style="" th:value="${suit.getPrice()}" th:field="*{price}"></p>
            <label for="cat-select">Catégorie:</label>
            <select th:field="*{category}" name="categories" id="cat-select">
                <span th:if="${suit.getCategory() == 'sous-marin'}">
                    <option selected th:value="'sous-marin'" th:text="Sous-marin"></option>
                    <option th:value="'espace'" th:text="Espace"></option>
                </span>
                <span th:if="${suit.getCategory() == 'espace'}">
                    <option th:value="'sous-marin'" th:text="Sous-marin"></option>
                    <option selected th:value="'espace'" th:text="Espace"></option>
                </span>

            </select>
            <p><input class ="inputAdd" type="text" style=""  th:value="${suit.getShortDescription()}" th:field="*{shortDescription}"></p>
            <p><input class ="inputAdd" type="text" style="" th:value="${suit.getDetailedDescription()}" th:field="*{detailedDescription}"></p>
            <button class="btn-primary" type="submit">confirmer la modification</button>
        </form>
    </div>
    <img id="astronauteDauphinAdd" th:src="@{../image/astronauteVolant.png}" alt="astronaute dauphin"/>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>